/*
Colors used:
Background Color (beige) : #F0E2C0
Title Color (Purple) : #9556A3
Heading Color (darker green) : #6AA390
Button 1 Color (pink) ; #E3A8F0
Button 2 color (green) : #90F0CF
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #f0e2c0
  font-family: 'Slabo 13px', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000
}
h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-family: 'PT Serif', serif;
font-size: 2.25em;
font-weight: 300;
  color: #9556A3
}
h2 {
  font-family: 'Magra', sans-serif;
font-size: 2.0em;
font-weight: 700;
  color: #6AA390
}
h3 {
  font-family: 'Magra', sans-serif;
font-size: 1.75em;
font-weight: 400;
  color: #6AA390
}
img {width: 100%;
}
a {
  color: #6AA390;
  text-decoration: none;
}
a: visited { color: #9556A3;}
a:hover,
a:focus {
  color: #9556A3;
  text-decoration: underline;
}

a: active { color: #6AA390}
.button {
  display: inline-block;
  background-color: #E3A8F0;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #9556A3;
  text-align: center;
  transition-duration: 5.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #E3A8F0;
  text-transform: uppercase;
  border: 2px solid #9556A3;
  text-align: center;
}

.button.contact:hover {
  background-color: #E3A8F0;
  color: #ffffff;
}
.image {
  width:25px;
}
/* layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom , 0 left and right */
}

#content .row {padding-bottom: 25px; border-bottom: 1px solid #000000}
#hero h1 {
  text-align: center; /* centers text */
}
#content h2 {
  text-align: center; /* centers text */
}
#contact {
  text-align: center; /* centers text */
}
.logo {
  max-width: 250px;
}
header {
  background-color: #F0E2C0;
  text-align: center;
  padding: 10px 0;
  box-shadow: 10px 10px 15px 0px rgba(92,92,92,1);
  position:relative
}
.logo {padding: 0 15px;
text-transform: uppercase;
font-weight: 700;}

nav > ul{
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li {
  display: inline-block;

}

nav > ul> li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: 000000
}

nav > ul> li > a:visited
{ color: #9556A3;}
nav > ul> li > a:hover,
nav > ul> li > a:focus {
  color: #9556A3;
  text-decoration: underline;}

 nav > ul> li > a:active { color: #6AA390}

 #hero {background-color: #F0E2C0;
 padding: 20px 0;
display: inline-block;
width: 100%}

#content .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.icons {
  margin: 25px 0; /* 25px top and bottom , 0 left and right */
}

footer {
  background-color: #F0E2C0;
  padding: 10px 0;
  padding-top: 25px; border-top: 1px solid #000000;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding:20px 0 99px;
  }
  nav { width: auto;
    float: right;
    margin-top: 4px;
  }}

  body {font-size: 18px;
}
{#about-page h3 { margin-top: 0;}}



#hero span{
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media only screen and (min-width: 1024px) {
  .col-md-6 {
    width: 100%}
  .col-lg-7 {width:58.33%}
  .col-lg-5 {width:41.66%}
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

#Capa_1 {width: 100%; max-width: 100%; height: auto;}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud {
  animation: 15s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
